#barranav{
  background:linear-gradient(mediumorchid, indigo,black,black, black);
}

#eslogan{
  background-image: url(img/fondotron.jpg); 
  background-size:cover;
}

#logo{
  max-height: 290px;
}

#barra{
  height:20px;
  background: linear-gradient(black,white,pink,fuchsia, violet);
}

   .nav a {
        transition-duration:0.1s;
        font-size: 20px !important;
        font-family: fantasy;
        color:white !important;

}

.nav a:hover { 
  transition-duration:0.15s;
    color:white!important;
    background-color:magenta!important;
    border-radius: 20px;
}

@media(max-width:767px) {
      #icono{
        padding-left:15px;
        }
  
  #publi1{
    padding:20px;
  }
  
  
}
