html, body{
	height:100%;
	padding:0px;
	margin:0px;
}

body{
background-image:url(../img/fondobody.png);
  background-size:;
}

#cargando{
  position:fixed;
  z-index:99;
  margin:0 auto;
  top:0;
  width:100%;
  height:100%;
  background:rgba(100,65,0,0.8);
}

#cargando img{
  position:relative;
  top:45%;
}


#barranav{
  background:linear-gradient(mediumorchid, indigo,black,black, black);
}

#eslogan{
  background-image: url(https://rawgit.com/Bernat77/news/master/img/fondotron.jpg); 
  background-size:cover;
}

#logo{
  max-height: 380px;
  background: rgba(300, 300, 300, 0.28);
  border: 2px solid transparent;
  border-radius: 200px;
  transition-duration:0.3s;

}

#logo:hover{
background: rgba(300, 0, 300, 0.6);
 transform: scale(1.1, 1.1);
border: 2px solid hotpink;
    border-radius: 200px;
}

#barra{
  height:20px;
  background: linear-gradient(black,white,pink,fuchsia, violet);
}

 .nav a {
        transition-duration:0.1s;
        font-size: 20px !important;
        font-family: fantasy;
        color:white !important;

}

.nav a:hover { 
  transition-duration:0.15s;
    color:white!important;
    background-color:magenta!important;
    border-radius: 20px;
}

  #publi1{
    display:none;
  }

  #publi2{
	position:relative;
      float: right;
        width: 300px;
        top: 20px;
        right: 15px;
    z-index:2;
}
#publi2 img{
  border: 1px solid white;
    border-radius: 3px;
}

#noticias{
  position:relative;
    padding-right:350px;
  top:30px;
  
}

.titulo h3{
    font-family: "Times New Roman", Times, serif;
  background:rgba(1,1,1,0.6);
  width:100%;
  font-size:30px;
  padding:15px;
  border-radius:30px;
}

.titulo a{
    transition-duration:0.2s;
  color:white
}

.titulo a:hover{
  text-decoration:none;
  color:aquamarine;
    text-shadow: 1px 3px 30px aqua;
  transition-duration:0.2s;

}

.fecha{
  position:relative;
  top:10px;
  font-size:15px;
  text-shadow: 3px 1px 6px aqua;
}

.cuerpo{
  padding:15px;
  border-radius:15px;
    background:rgba(300,300,300,0.32);
  width:100%;
  font-size:17px;
    text-shadow: 0px 0px 5px black;
}

.cuadro{
 
  background-color:indigo;
  border-radius:20px;
  padding:3.6%;
  margin-top:2%;
  margin-bottom:30px;
  color:white;
  transition-duration:0.2s;
  background:url(https://image.ibb.co/moxCt8/cuadrado.png);
  }


.cuadro img{
  padding:3%;
/*  width:100%;*/
  border-radius:30px;
}

.cuadro:hover{
  transform: scale(1.05,1.05);
  transition-duration:0.35s;
}


/*              --movil--              */
@media(max-width:768px) {
  
  #noticias{
  position:relative;
  float:none;
  padding-top:20px;
  padding-right:0;
  padding-left:0;
}
  .cuadro{
  background-color:indigo;
  border-radius:30px;
    margin-top:4%;
    margin-bottom:30px;
  color:white; 
  }
  
  .cuadro:hover{
  transform: none;
}
  
  #publi2{
    display:none;
  }
  #icono{
        padding-left:15px;
        }
  
  #publi1{
    position:relative;
    display:block;
    top:20px;
    bottom:20px;
    padding:0;
    background:transparent;
  }
  #publi1 img{
    width:287px;
    height:100px;
    border: 1px solid white;
    border-radius: 3px;
  }
  
  
  #logo{
  max-height: 380px;
  background: rgba(300, 300, 300, 0.15);
  border: 2px solid transparent;
  border-radius: 200px;
  transition-duration:0.3s;

}

#logo:hover{
background: rgba(300, 300, 300, 0.1);
 transform: scale(1.05, 1.05);
border: 2px solid transparent;
 border-radius: 200px;
}
  
 .titulo h3{
  font-size:23px;
  padding:15px;
  border-radius:30px;
}
  
  .fecha{
    font-size:12px;
        top:0;
  }
  
  .cuerpo{
  font-size:14px;
}
  
  #cuerpo{
    background-color:transparent;
  }